language: node_js
node_js:
  - 10

cache: yarn

before_script:
  - echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

script:
  - yarn lint
  - yarn test
  - yarn codechecks
  - cd subgraph
  - yarn build

branches:
  only:
    - master
